* {
    box-sizing: border-box;
}
h2,h3 {
    margin: 0;
}
body {
    background-color:rgb(0, 0, 0);
    margin: 20px 0;
    font-family: sans-serif;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
    background-color:rgb(75, 6, 6);
    border-radius: 10px;
    color: darkgray;
}
header {
    padding: 50px;
}
main{
    padding: 50px;
    overflow: hidden;
}
section {
    float: left;
    width: 75%;
    border-right: 1px solid black;
    padding-right: 25px;
}
aside {
    float: right;
    width: 25%;
    padding-left:25px;
    text-align: center;
}
aside ul {
    list-style: none;
    padding: 0;
}
aside ul li a {
    color: darkgray;
}
footer{
    clear: both;
    padding: 50px;
    border-top: 1px solid black;
}
article  {
    text-align: justify;
    padding: 25px;
    border-bottom: 1px solid black;
}
article:last-child{
    border: none;
}
